.addCarContainer {
    width: 100%;  ;
    min-width: 320px;
    max-width: 1000px;
    background: #0b834182;
    padding: 20px;
    font-size: 18px;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.inputContainer {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    margin-bottom: 10px;
}
.inputContainer input {
    width: 100%;
    height: 40px;
    float: left;
    font-size: 16px;
    padding-left: 10px;
    color: #2e2e2e;
    border: 0;
    border-radius: 3px;
}
.inputPad {
    padding-bottom:20px;
}


/* ADD CARD BUTTON */
.createBtnContainer {
    width: 315px;
    height: 60px;
    margin: auto;
}
.createBtn {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    background: #0b834182;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 1px 5px 0px #2E2E33;
    border-radius: 3px;
}
.createBtn:hover {
    background:#0b8341e6;
    box-shadow: none;
}
/* ADD CARD BUTTON */



.addImgContainer {
    width: 100%;
}

.imgContainer {
    width: 150px;
    height: 120px;
    position: relative;
    margin: 5px;
    transition: 0.3s;
}
.imgContainer:hover {
    box-shadow: none;
}
.deleteImgBtn {
    width: 150px;
    cursor: pointer;
    background: #dc555594;
    color: #dc555594;
    text-align: center;
    transition:transform 0.3s ease-out;
    transform:scaleY(0.15);
    transform-origin:bottom;
}
.deleteImgBtn:hover {
    background: #dc5555;
    color: #ffffff;
    position: absolute;
    height: 120px;
    line-height: 120px;
    transform:scaleY(1);
}

.setNewContainer {
    display: flex;
    margin: auto;
    width: 310px;
    padding: 0px 0px 10px;
}
.newCheckBtn {
    width: 30px;
    height: 30px;
    margin: 0;
    accent-color: #80bd9b;
}
.newCheckLbl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.submitImg {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 60px;
    background: #e1e1e182;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: #000;
}
.submitImg:hover {
    background-color: #0b83415d;
}


/* STYLES FOR BACKEND static INPUTS */
.form-strain {
    width: 200px;
    height: 40px;
    font-size: 35px;
}
.form-name {
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.form-thc {
    width: 50px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.form-amount {
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.form-price {
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.form-description {
    width: 275px;
    height: 160px;
}

.card__image_static {
    animation: none !important;
    width: 220px;
    height: 76px;
}
.imgContainer_static {
    width: 100% !important;
    height: 76px !important;
    margin: 0px !important;
    padding-left: 10px;
    padding-top: 5px;
}
.card_static {
    box-shadow: 0 1px 5px 0px #2E2E33;
    cursor: none;
}
.card_static:hover {
    cursor: default;
}
.cardsContainer_static {
    margin: auto;
    justify-content: center;
}
.card__description_static {
    overflow: unset !important;
    height: 169px !important;
}
.card__description_static textarea {
    resize: none;
}

.card__name_static {
    padding: 0px 10px !important;
}

.card__values-thc_static {
    padding: 5px !important;
    margin-top: 10px;
}
.card__price-container_static {
    width: 100px;
    height: 70px;
}
.card__price-container_static .form-amount {
    width: 80px;
}
.card__price-container_static .form-price {
    width: 70px;
}


/* end STYLES FOR BACKEND INPUTS */
