/* SVG FIRE */
.fire {
    background-image: url("../../layout/images/fire.gif");
    background-position: -40px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -160px;
    height: 265px;
    opacity: .3;
    position: absolute;
    width: 230px;
}
