/* SVG FIRE */
.fire {
    background-image: url("../../layout/images/fire.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85px;
    width: 170px;
    position: absolute;
    bottom: -30px;
    opacity: 0.3;
}
