/* SVG FIRE */
.fire {
    background-image: url("../../layout/images/fire.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 18px;
    height: 225px;
    width: 230px;
    position: absolute;
    bottom: -60px;
    opacity: 0.3;
}
